/* Global Styles */
body {
    margin: 0;
    font-family: 'Black Ops One', sans-serif;
    background-color: black;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    margin-left: 100px;
    display: flex;
    align-items: center; 
}

.nav-links li {
    margin-right: 10px; /* Add space between list items */
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    padding: 10px;
    margin-right: 10px; /* Adjust right margin for each link */
}
.socials {
    display: flex;
    align-items: center;
}

.takeout {
    padding: 5px 10px;
    text-decoration: none;
    border: 12px solid #EC0988; /* Set default border color */
    border-radius: 25px; /* Set default border radius */
    background-color: #EC0988; /* Set default background color */
    color: black; /* Text color */
    transition: border-radius 0.3s, background-color 0.3s; /* Adding transition effects */
}

.takeout:hover {
    transition: border-radius 0.3s, background-color 0.3s; /* Specify transition for the hover effect */
}



.nav {
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 1;
    padding: 2% 6%;
    position: sticky;
    top: 0;
    background-color: black;
    margin-left: 0;

}

.nav img {
    height: 90px;
    width: 100px;
    

}


a:hover {
    background-color: #8d6a1f;
    color: black;
}
.socials {
    margin-left: 700px;
    margin-top: -50px;
}
.main-content {
    position: relative; /* Set relative positioning for contained elements */
    padding-bottom: 30px; /* Added padding to the bottom */
}

.main-content img {
    display: block;
    width: 100%; 
}

/* Image Gallery Styling */
.gallery {
    text-align: center;
    padding: 20px;
    color: blanchedalmond;
}

.image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
}

.image-container div {
    position: relative;
    margin: 10px;
}

.image-container img {
    width: 550px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 40px;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

.image-container .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.image-container div:hover .image-text {
    opacity: 0;
}





/* Footer Section */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.banner_content_wrapper {
    display: flex;
}

.banner_content {
    flex: 1;
    padding: 20px;
    color: antiquewhite;
}

.banner_content h1 {
    font-size: 50px;
    line-height: 48px;
    width: 650px;
    margin-left: 60px;
}

.banner_content p {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: .3px;
    margin-bottom: 20px;
    margin-left: 60px;
    width: 650px;
    color: #fff;
}

.banner_content ul {
    padding: 0;
    color: aliceblue;
}

.banner_content ul li {
    list-style: none;
    position: relative;
    margin-left: 60px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.banner_content ul li::before {
    content: "\f058"; /* Unicode for check-circle icon in Bootstrap Icons */
    font-family: "bootstrap-icons"; /* Bootstrap Icons font family */
    position: absolute;
    left: 0;
    color: #fb6107; /* Change the color as needed */
}

.cnt_btn a {
    background: #fb6107;
    letter-spacing: 0;
    font-size: 15px;
    color: #fff;
    padding: 10px 25px;
    margin-left: 50px;
    border: 2px solid #fb6107;
    border-radius: 50px;
    text-decoration: none;
}

.banner_image {
    flex: 1;
    text-align: center;
    margin: 25px;
}


.banner_image img {
    width: 100%; /* Adjust as needed */
    max-width: 100%;
    height: auto;
    margin-top: 25px;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}

.opening-hours,
.contact-info,
.social-media {
    flex: 1;
    padding: 0 20px;
    max-width: 300px;
}

.opening-hours h3,
.contact-info h3,
.social-media h3 {
    border-bottom: 1px solid #888;
    margin-bottom: 10px;
}

.social-media ul {
    padding: 0;
    list-style: none;
}

.social-media ul li {
    margin: 5px 0;
}

.social-media ul li a {
    color: #fff;
}





